#Gened from stock uboot
VERSION 1
BOOT_FROM spi
#HEADER_SIZE 0x6730
#SRC_ADDRESS 0x16740
#BLOCK_SIZE 0xcc5fc
#DEST_ADDRESS 0x00000000
#EXEC_ADDRESS 0x00000000

#Binary Header (bin_hdr) with DDR3 training code
BINARY board/wd/glacier/ramblob 0x5b 0x0 LOAD_ADDRESS 0x40000030
